<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.core.dao.SysRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.wl.core.model.SysRolePermission" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="VARCHAR" />
    <result column="sys_permission_id" property="sysPermissionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_role_id, sys_permission_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_role_permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wl.core.model.SysRolePermission" >
    insert into sys_role_permission (id, sys_role_id, sys_permission_id
      )
    values (#{id,jdbcType=VARCHAR}, #{sysRoleId,jdbcType=VARCHAR}, #{sysPermissionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.core.model.SysRolePermission" >
    insert into sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
      <if test="sysPermissionId != null" >
        sys_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="sysPermissionId != null" >
        #{sysPermissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.core.model.SysRolePermission" >
    update sys_role_permission
    <set >
      <if test="sysRoleId != null" >
        sys_role_id = #{sysRoleId,jdbcType=VARCHAR},
      </if>
      <if test="sysPermissionId != null" >
        sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.core.model.SysRolePermission" >
    update sys_role_permission
    set sys_role_id = #{sysRoleId,jdbcType=VARCHAR},
      sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
    <select id="seclectSysRolePermission" resultType="com.wl.core.model.entity.MenuTree" 
    		parameterType="java.lang.String" >
		 SELECT
			t.id AS id,
			CASE WHEN t.parentid = '0' THEN '' ELSE 	t.parentid END AS pid,
		  t.`name` AS text, t.state AS state, CASE WHEN f.id is NOT null THEN true ELSE false END AS checked
		FROM
			sys_permission t left join (
		
		 SELECT * FROM sys_permission where  type='permission' and id in (
		SELECT sys_permission_id FROM sys_role_permission  where sys_role_id=#{roleid} )) f on t.id=f.id   
 	 </select>
 	 
 	 
 	<delete id="delRolePermissionByRoleid" parameterType="java.lang.String" >
   	 	delete from sys_role_permission
    	where sys_role_id = #{roleid,jdbcType=VARCHAR}
  	</delete>
  <insert id="insertRolePermission" parameterType="com.wl.core.model.SysRolePermission" >
   	 insert into sys_role_permission (id, sys_role_id, sys_permission_id)
    	values (#{id,jdbcType=VARCHAR}, #{sysRoleId,jdbcType=VARCHAR}, #{sysPermissionId,jdbcType=VARCHAR}
      )
  </insert>
</mapper>